{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}User Manager{% endblock %}
{% block pageTitle %}
    <h1>User Manager <a href="{{ path('user_create') }}" class="btn btn-info" role="button">Add User</a></h1>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered records_list">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Locked</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.firstName }}</td>
                    <td>{{ entity.lastName }}</td>
                    <td>{{ entity.mobile }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{% if entity.locked %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                    <td>
                        <div class="btn-group">
                            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                            <a class="btn btn-default btn-sm" href="{{ path('dashboard_home', {'_switch_user': entity.username}) }}">
                            <i class="fa fa-file"></i> Switch
                            </a>
                            {% endif %}
                            <a class="btn btn-default btn-sm" href="{{ path('user_edit', {'id': entity.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('user_reset_password', {'id': entity.id}) }}">
                                <i class="fa fa-repeat"></i> Reset Password
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
