<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}BWCMS!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/include/js/jquery.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/js/jquery-ui/jquery-ui.min.css') }}"/>
    <link href="/include/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/font-awesome/css/font-awesome.min.css') }}">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% block header %}{% endblock %}
    {% if theme == 'blue' %}
    <style>
        .navbar-inverse {  background-color: #0b0070;  border-color: #8679ff; }
        .navbar-inverse .navbar-nav > li > a { color: #cbc5ff; }
        .navbar-inverse .navbar-nav > li > a:hover { color: #ffffff;}
        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{color: #ffffff; background-color: #080056;}
        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{ color: #ffffff; background-color: #3a2dac;}
        .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{color: #ffffff;background-color: #080056;}
        ul.menu_level_1.dropdown-menu{background-color: #3a2dac;}
        .dropdown-menu > li > a{color: #cbc5ff;}
        .dropdown-menu > li > a:hover{color: #0d0087;background-color: #c4beff;}
    </style>
    {% endif %}
</head>
<body {% block bodyAttr '' %}>
    <div id="loadingIndicatorHolder" style="display: none;"><div id="loadingIndicator" ><img src="{{ asset('bundles/bwcms/images/clock.svg') }}"></div></div>
    {% block bodyContainer %}{% endblock %}
    <script src="{{ asset('bundles/bwcms/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="/include/js/bootstrap.js"></script>
    <script src="{{ asset('bundles/bwcms/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/js/script.js') }}"></script>
    {% block footer %}{% endblock %}
    <script language="JavaScript">
        $(document).ready(function () {
            {% set flashDelay = 3000 %}
            {% for flashMessage in app.session.flashbag.get('Notify.Success') %}
                $.notify({message: '{{ flashMessage }}'},{type: 'success', delay: {{  flashDelay }} });
                {% set flashDelay = flashDelay + 1000 %}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('Notify.Info') %}
                $.notify({message: '{{ flashMessage }}'},{type: 'info', delay: {{  flashDelay }} });
                {% set flashDelay = flashDelay + 1000 %}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('Notify.Warning') %}
                $.notify({message: '{{ flashMessage }}'},{type: 'warning', delay: {{  flashDelay }} });
                {% set flashDelay = flashDelay + 1000 %}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('Notify.Danger') %}
                $.notify({message: '{{ flashMessage }}'},{type: 'danger', delay: {{  flashDelay }} });
                {% set flashDelay = flashDelay + 1000 %}
            {% endfor %}
        });
    </script>
</body>
</html>

