{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block pageTitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/js/colorpicker/css/bootstrap-colorpicker.min.css') }}"/>

{% endblock %}

{% block body %}
    {{ form(form, { 'style': 'horizontal' , 'label_col': 2, 'widget_col': 10 }) }}
{% endblock %}


{% block footer %}
    <script src="{{ asset('bundles/bwcms/js/datetimepicker/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/js/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/js/tinymce-4.6.3/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/js/colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ url('_bwcms_admin_editor_init') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('.BWCF_template_radio').click(function() {
                $('#BWCF_template').val(this.value);
            });
            $('.contentDateTime').datetimepicker({
                'format': 'YYYY-MM-DD HH:mm',
                'showClear': true
            });
            $('.contentDate').datetimepicker({
                'format': 'YYYY-MM-DD',
                'showClear': true
            });
            $('.contentTime').datetimepicker({
                'format': 'HH:mm',
                'showClear': true
            });
            $('.contentColor').colorpicker({format: 'hex',align: 'left'});
        });
    </script>
{% endblock %}