{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Site Manager{% endblock %}
{% block pageTitle %}
    <h1>Site Manager</h1>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered records_list">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Direction</th>
                    <th>Slug</th>
                    <th>Skin Folder</th>
                    <th>Isdefault</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if entity.direction == 'ltr'  %}
                                Left to Right
                            {% else %}
                                Right To Left
                            {% endif %}
                        </td>
                        <td>{{ entity.slug }}</td>
                        <td>{{ entity.skinFolderName }}</td>
                        <td>
                            {% if entity.isDefault == 1  %}
                                <i class="fa fa-check-square"></i>
                            {% else %}
                                <i class="fa fa-check-square-o"></i>
                            {% endif %}
                        </td>
                        <td>
                                <a class="btn btn-default btn-sm" href="{{ path('_bwcms_admin_site_edit', {'id': entity.id}) }}">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                {% if entity.isDefault != 1  %}
                                    <a class="btn btn-default btn-sm" href="{{ path('_bwcms_admin_site_setdefault', {'id': entity.id}) }}">
                                        <i class="fa fa-check-square"></i> Make Default
                                    </a>
                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('_bwcms_admin_site_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
