{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Image Thumb Style Manager{% endblock %}
{% block pageTitle %}
    <h1>Image Thumb Style Manager</h1>
{% endblock %}

{% block body -%}
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" action="{{ url('_bwcms_admin_thumbstyle_home') }}" method="get">
                    <div class="form-group">
                        <input name="query" value="{{ app.request.get('query') | escape }}" type="text" class="form-control" style="width: 300px;">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                    <a href="{{ path('_bwcms_admin_thumbstyle_new') }}" class="btn btn-primary">Add</a>
                </form>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Mode</th>
                <th>Width</th>
                <th>Height</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pager.items %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>{{ entity.mode }}</td>
                    <td>{{ entity.width }}</td>
                    <td>{{ entity.height }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('_bwcms_admin_thumbstyle_edit', {'id': entity.id}) }}">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'BWCMSBundle:Common:pagination.html.twig' with {'pager': pager } %}

        <ul>
            <li>
                <a href="{{ path('_bwcms_admin_thumbstyle_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
