{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Thumbnail Style Manager{% endblock %}
{% block pageTitle %}
    <h1>Thumbnail Style Manager</h1>
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered records_list">
            <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Mode</th>
                <th>Width</th>
                <th>Height</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>{{ entity.mode }}</td>
                    <td>{{ entity.width }}</td>
                    <td>{{ entity.height }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('thumbstyle_edit', {'id': entity.id}) }}">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('thumbstyle_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
