{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}
    <h1>Welcome {{ user.firstname }}</h1>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">Recent Edits</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-bordered records_list">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Author</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for content in data %}
                            <tr>
                                <td>{{ content.title }}</td>
                                <td>{{ content.type }}</td>
                                <td>{{ content.author }}</td>
                                <td>{{ content.status }}</td>
                                <td>
                                    <div class="center">


                                        <a type="button" class="btn btn-primary edit" href="{{ content.edit }}">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>

                                        {% if content.link is not empty %}
                                        <a type="button" class="btn btn-primary preview" href="{{ content.link }}">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="quoteSection" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading">Quote of the day</div>
                    <div class="panel-body" id="quoteSectionContent">Panel content</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Info</div>
                <div class="panel-body">
                    <strong>Date:</strong> {{ "now" |date("F jS,  g:ia") }} <br />
                    <strong>IP:</strong> {{ app.request.server.get('REMOTE_ADDR') }}
                </div>
            </div>
        </div>



    </div>
    <script language="JavaScript">
        $(document).ready(function () {
            $.ajax({
                url: "//api.forismatic.com/api/1.0/",
                jsonp: "jsonp",
                dataType: "jsonp",
                data: {
                    method: "getQuote",
                    lang: "en",
                    format: "jsonp"
                }
            }).done(function(response){
                $('#quoteSectionContent').text(response.quoteText + ' - ' + response.quoteAuthor);
                $('#quoteSection').fadeIn();
            }).fail(function(jqxhr, textStatus, err){
                console.log("Request Failed: " + textStatus + ", " + err);
            });
        });

    </script>

{% endblock %}
