{% extends "BWCMSBundle:Common:default.html.twig" %}


{% block title %}Media{% endblock %}
{% block pageTitle %}
    <h1>Media
    <span class="btn btn-success fileinput-button dz-clickable">
        <i class="glyphicon glyphicon-plus"></i><span>Add files...</span>
    </span>

    </h1>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/dropzone/dropzone.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/datatable/css/jquery.dataTables.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/jstree/themes/default/style.min.css') }}"/>
{% endblock %}

{% block body %}
    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0"
         aria-valuemax="100" aria-valuenow="0" style="display: none;margin-right: 10px;">
        <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
    </div>
    <div class="row files" id="fileUploaderPreviews">
        <div class="col-md-3" id="fileUploaderTemplate">
            <div class="thumbnail">
                <img data-dz-thumbnail/>

                <div class="caption">
                    <h3 class="name" data-dz-name></h3>
                    Size: <span class="size" data-dz-size></span>

                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                    <button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 taskLeft">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="jstree_div"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 taskRight">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="mediaTable" class="table" border="0">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Filename</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">
        $(document).ready(function () {
            var previewNode = document.querySelector("#fileUploaderTemplate");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);
            var mediaTable = $('#mediaTable').DataTable(
                    {
                        "ordering": false,
                        "processing": true,
                        "serverSide": true,
                        ajax: {
                            url: "{{ url('media_home_data') }}",
                            type: 'GET'
                        },
                        "columns": [
                            {"data": "thumbnail"},
                            {"data": "title"},
                            {"data": "name"},
                        ]
                    }
            );

            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "{{ url('media_upload') }}", // Set the url
                thumbnailWidth: 100,
                thumbnailHeight: 100,
                parallelUploads: 5,
                previewTemplate: previewTemplate,
                autoQueue: true, // Make sure the files aren't queued until manually added
                previewsContainer: "#fileUploaderPreviews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            });
            myDropzone.on("addedfile", function (file) {
                // Hookup the start button
            });
            myDropzone.on("complete", function(file) {
                myDropzone.removeFile(file);
            });
            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function (progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
            });
            myDropzone.on("sending", function (file,xhr,formdata) {
                console.log(xhr);
                console.log(formdata);
                $('#total-progress').show();
            });
            // Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function (progress) {
                $('#total-progress').hide();
                mediaTable.ajax.reload();
            });
            $('#jstree_div').jstree({
                'core': {
                    'data': {
                        'url': '{{ url('media_folders') }}',
                        'data': function (node) {
                            return {'id': node.id};
                        }
                    }
                },
                'contextmenu': {
                    'items': function (node, treeObj) {
                        return {
                            "Create": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "Create",
                                "icon": "glyphicon glyphicon-plus",
                                "action": function (obj) {
                                    var inst = $.jstree.reference(obj.reference);
                                    var data = inst.get_node(obj.reference);
                                    console.log(data);
                                    $('#folderModelId').val('');
                                    $('#folderModelName').val('');
                                    $('#folderModelMode').val('create_node');
                                    $('#folderModelParent').val(data.id);
                                    $('#folderModel').on('shown.bs.modal', function () {
                                        $('#folderModelName').focus();
                                    })
                                    $('#folderModel').modal();
                                }
                            },
                            "Rename": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "Rename",
                                "icon": "glyphicon glyphicon-pencil",
                                "action": function (obj) {
                                    var inst = $.jstree.reference(obj.reference);
                                    var data = inst.get_node(obj.reference);
                                    $('#folderModelId').val(data.id);
                                    $('#folderModelName').val(data.text);
                                    $('#folderModelMode').val('rename_node');
                                    $('#folderModelParent').val('');
                                    $('#folderModel').on('shown.bs.modal', function () {
                                        $('#folderModelName').focus();
                                    })
                                    $('#folderModel').modal();
                                }
                            }
                        }
                    }
                },
                'plugins': ['contextmenu']
            });

            $('#folderModelButtonSave').click(function () {
                var jqxhr = $.post("{{ url('media_folder_save') }}", {
                    id: $('#folderModelId').val(),
                    parent: $('#folderModelParent').val(),
                    mode: $('#folderModelMode').val(),
                    title: $('#folderModelName').val()
                });
                jqxhr.done(function (data) {
                    var parent = $('#jstree_div').jstree('get_selected');
                    var newNode = {id: data.id, text: data.text, icon: data.icon};
                    if (data.mode == 'rename') {
                        $('#jstree_div').jstree("rename_node", parent, data.text);
                    } else {
                        $('#jstree_div').jstree("create_node", parent, newNode, 'last', false, false);
                    }
                    $('#jstree_div').jstree("open_node", parent);
                    $('#folderModel').modal('hide');
                });
                jqxhr.fail(function () {
                    alert("error");
                });
            });
        });
    </script>
    {#<form action="{{ url('media_upload') }}" method="post" enctype="multipart/form-data">#}
    {#<input type="file" name="file"/>#}
    {#<input type="submit">#}
    {#</form>#}
    <div id="folderModel" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Folder</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Folder Name</label>
                        <input type="text" class="form-control" id="folderModelName" placeholder="">
                        <input type="text" id="folderModelId" placeholder="">
                        <input type="text" id="folderModelParent" placeholder="">
                        <input type="text" id="folderModelMode" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="folderModelButtonSave" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{{ asset('bundles/bwcms/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/bwcms/jstree/jstree.min.js') }}"></script>
{% endblock %}


